<form method="post" action="{{ path('app_todo_list_delete', {'id': todoList.id}) }}"
      onsubmit="return confirm('{{ 'app.todo_list.remove_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todoList.id) }}">
    <button class="font-bold py-2 px-4 rounded bg-red-700 text-white hover:bg-red-800">{{ 'app.action.delete'|trans }}</button>
</form>
